.box{
    margin-left:250px;
}
.boxBackground{
    background-color:#7d7d7d;
    border-radius: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    width: 80%;
    margin-top: 20%;
}


.meetingName{
  display: flex;
  justify-content: center;
  align-items: center;
}
.meetinglabel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.meetinginput{
  border-radius: 8px;
  width: 20%;
}


.leftbox {
    float:left;
    height:20%;
    margin-left:15px;
}
.middlebox{
    float:left;
    height:20%;
    margin-left:15px;
}
.rightbox{
    float:left;
    height:20%;
    margin-left:15px;
}

.locationinput{
  width: 160px;
  border-radius: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

.dateinput{
  width: 160px;
  border-radius: 10px;
}

.locationBox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.dateBox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.meetingSend{
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  margin-top: 50px;
}

.buttoninput{
    border-radius: 10px;
    width: 100%;
}
