<!-- aimeschneider -->
<!DOCTYPE html>
<html>
   <head>
      <title>Formulaire</title>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="../static/var.js"> </script>
      <script src="../static/register.js"> </script>
   </head>
   <body>
         <p>Login: <input id="loginRegister" type="text" name="username"></p>
         <p>firstname: <input id="firstnameRegister" type="text" name="firstname"></p>
         <p>name: <input id="nameRegister" type="text" name="name"></p>
         <p>Password: <input id="passwordRegister" type="password" name="password"></p>
         <p><input id="registerSend" type="submit" value= "Register"></p>
   </body>
</html>